.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.form_field {
    display: flex;
    width: 100%;
    gap: 10px;
}

.form_field label {
    width: 150px;
}

.form_field input, .form_field textarea {
    display: flex;
    width: 100%;
    padding: 5px;
    outline: none;
    font-family: chaparral-pro, serif;
    font-weight: 300;
    font-style: normal;
    border: 1px solid #D9D9D9;;
}

.form_field textarea {
    resize: vertical;
    height: 120px;
}

.contact_btn {
    margin: 30px 0 0;
}


/*-----------------------------Mobile Version----------------------*/
@media all and (max-width: 768px) {
    .form_field {
        gap: 40px;
    }

    .form_field input, .form_field textarea {
        display: flex;
        max-width: 400px;
    }
}

@media all and (max-width: 480px) {
    .form_field {
        flex-direction: column;
        gap: 0px;
    }
}