* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100vh;
}

/*---------------------------Header-----------------------------*/
.header {
    /* height: 100vh; */
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}


