* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #454545;
    position: relative;
    height: 100vh;
}

/*---------------------------Header-----------------------------*/
.header {
    /* height: 100vh; */
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}


/*--------------------------Home Page---------------------------*/
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 3;
}

.description {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 30px;
    text-align: center;
}

.description h3 {
    font-size: 30px;
    font-family: chaparral-pro, serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 0 15px;
}

.description p {
    max-width: 600px;
    font-family: chaparral-pro, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

/*------------------Sections on Home Page------------------*/

.section {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    padding: 0 30px 170px;
}

.section:last-of-type {
    padding: 0 30px 0px;
}

.section_header {
    display: flex;
    justify-content: space-between;
    padding: 0 0 50px;
}

.section_header__left {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sh__left_name {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sh__left_name img {
    width: 50px;
}

.sh__left_name p, .sh__right_more p {
    text-transform: uppercase;
    font-family: chaparral-pro-caption, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
}

.sh__left_description {
    font-family: chaparral-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
}

.section_header__right {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sh__right_description {
    font-family: chaparral-pro, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
}

.link_more {
    text-decoration: none;
    color: #000;
}

.sh__right_more {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}


.sh__right_more img {
    width: 15px;
}

.section_img img {
    width: 100%;
}



/*--------------------------Mobile Version-------------------------*/
@media all and (max-width: 768px) {
    .section {
        padding-bottom: 80px;
    }
    .description h3 {
        font-size: 24px;
        padding: 0 0 15px;
    }
    
    .description p {
        font-size: 18px;
    }

    .section_header__left {
        width: 35%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .sh__left_description {
        font-size: 20px;
    }
    
    .section_header__right {
        width: 40%;
    }
}

@media all and (max-width: 600px) {
    .section_header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        padding: 0 0 20px;
    }


    .section_header__left {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .sh__left_name p, .sh__right_more p {
        font-size: 12px;
    }

    .sh__left_description {
        font-size: 22px;
    }
    
    .section_header__right {
        width: 100%;
        gap: 30px;
    }
    
}

@media all and (max-width: 480px) {

    .description {
        padding: 70px 20px;
    }

    .description h3 {
        font-size: 18px;
        padding: 0 0 15px;
    }
    
    .description p {
        font-size: 16px;
    }

    .section {
        padding: 0 20px 100px;
    }

    .sh__left_description {
        font-size: 20px;
    }

    .sh__right_description {
        font-size: 14px;
    }
}


